p {
    padding: 0 1em 0 1em;
    /* margin: 1em; */
    text-align: center;
}

h1, h2 {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
}

.splash-text-container {
    margin: -2em 0 -2em 0;
}
