#app-container {
    text-align: left;
}

h1, h2 {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.header {
    /* background-color: black; */
    /* text-align: center; */
    /* color: white; */
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
}

.contents-container {
    padding: 1em;
}

/* @keyframes logo-spin { */
/*   from { transform: rotate(0deg); } */
/*   to { transform: rotate(360deg); } */
/* } */
